
body{
    background-image: url('../../images/Bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Khand;
    color: white;
}


.title h1{
    font-weight: 700 !important;
    font-size: 70px;
}

.title h1{
    margin-bottom: 40px;
}
.jumbotron{
    background-color: transparent !important;
}

.ui.selection.dropdown{
    min-width: auto !important;
    border-radius: 0;
}

#region{
    display: none;
}
.bropdown, input, .btn-primary{
    height: calc(1.5em + .75rem + 10px) !important;
}

.btn-primary {
    background-color: #FF842A !important;
    border-color: unset;
}